In [1]:
import get_crypto_data as gcd
import glob
import pandas as pd
from dateutil import parser,tz
from datetime import datetime, timedelta, timezone
from time import sleep
import database

In [2]:
exchange = gcd.getBinanceExchange()
print(exchange)

Binance

In [3]:
df = gcd.get_DataFrame(['VIB/BTC'], exchange, '8/1/18', '12/24/20')
df

2.6.0

,Open,High,Low,Close,Volume,Ticker
Timestamp,,,,,,
2018-08-01,7.780000e-06,8.100000e-06,7.600000e-06,7.710000e-06,27514750.0,VIB/BTC
2018-08-02,7.720000e-06,8.070000e-06,7.060000e-06,7.190000e-06,19874646.0,VIB/BTC
2018-08-03,7.190000e-06,7.210000e-06,6.620000e-06,6.850000e-06,21268155.0,VIB/BTC
2018-08-04,6.850000e-06,7.040000e-06,6.350000e-06,6.600000e-06,27881248.0,VIB/BTC
2018-08-05,6.590000e-06,7.040000e-06,6.480000e-06,6.910000e-06,26698232.0,VIB/BTC
...,...,...,...,...,...,...
2020-12-31,6.400000e-07,6.500000e-07,5.800000e-07,6.000000e-07,29393430.0,VIB/BTC
2021-01-01,6.000000e-07,7.300000e-07,6.000000e-07,6.400000e-07,31696641.0,VIB/BTC
2021-01-02,6.400000e-07,7.000000e-07,5.500000e-07,5.700000e-07,43582553.0,VIB/BTC
2021-01-03,5.700000e-07,5.800000e-07,5.000000e-07,5.600000e-07,33439089.0,VIB/BTC
2021-01-04,5.500000e-07,5.600000e-07,5.400000e-07,5.500000e-07,466075.0,VIB/BTC

In [4]:
newdf = gcd.get_DataFrame(['VIB/BTC'], exchange, '8/1/18', '12/24/20')
newdf

2.6.0

,Open,High,Low,Close,Volume,Ticker
Timestamp,,,,,,
2018-08-01,7.780000e-06,8.100000e-06,7.600000e-06,7.710000e-06,27514750.0,VIB/BTC
2018-08-02,7.720000e-06,8.070000e-06,7.060000e-06,7.190000e-06,19874646.0,VIB/BTC
2018-08-03,7.190000e-06,7.210000e-06,6.620000e-06,6.850000e-06,21268155.0,VIB/BTC
2018-08-04,6.850000e-06,7.040000e-06,6.350000e-06,6.600000e-06,27881248.0,VIB/BTC
2018-08-05,6.590000e-06,7.040000e-06,6.480000e-06,6.910000e-06,26698232.0,VIB/BTC
...,...,...,...,...,...,...
2020-12-31,6.400000e-07,6.500000e-07,5.800000e-07,6.000000e-07,29393430.0,VIB/BTC
2021-01-01,6.000000e-07,7.300000e-07,6.000000e-07,6.400000e-07,31696641.0,VIB/BTC
2021-01-02,6.400000e-07,7.000000e-07,5.500000e-07,5.700000e-07,43582553.0,VIB/BTC
2021-01-03,5.700000e-07,5.800000e-07,5.000000e-07,5.600000e-07,33439089.0,VIB/BTC
2021-01-04,5.500000e-07,5.600000e-07,5.400000e-07,5.500000e-07,466075.0,VIB/BTC

In [5]:
first = gcd.get_DataFrame(['SCRT/BTC'], exchange, '1/1/20', '12/24/20')
first

2.6.0
FetchingSCRT/BTCmarket data fromBinance. call #1
lastCall = 1609795989054 fetching data...

                Open      High       Low     Close     Volume    Ticker
Timestamp
2020-09-30  0.000062  0.000118  0.000042  0.000049  2909132.0  SCRT/BTC
2020-10-01  0.000049  0.000050  0.000035  0.000043  3706380.0  SCRT/BTC
2020-10-02  0.000043  0.000044  0.000036  0.000044  1952840.0  SCRT/BTC
2020-10-03  0.000043  0.000063  0.000041  0.000049  3105072.0  SCRT/BTC
2020-10-04  0.000049  0.000058  0.000045  0.000054  4149568.0  SCRT/BTC
...              ...       ...       ...       ...        ...       ...
2021-01-01  0.000021  0.000022  0.000021  0.000022   370851.0  SCRT/BTC
2021-01-02  0.000022  0.000022  0.000018  0.000019   521009.0  SCRT/BTC
2021-01-03  0.000019  0.000019  0.000015  0.000017  1043448.0  SCRT/BTC
2021-01-04  0.000016  0.000020  0.000015  0.000019   736479.0  SCRT/BTC
2021-01-05  0.000020  0.000022  0.000020  0.000020   227667.0  SCRT/BTC

[98 rows x 6 columns]

In [6]:
second = gcd.get_DataFrame(['SCRT/BTC'], exchange, '1/1/20', '12/24/20')
second

2.6.0

                Open      High       Low     Close     Volume    Ticker
Timestamp
2020-09-30  0.000062  0.000118  0.000042  0.000049  2909132.0  SCRT/BTC
2020-10-01  0.000049  0.000050  0.000035  0.000043  3706380.0  SCRT/BTC
2020-10-02  0.000043  0.000044  0.000036  0.000044  1952840.0  SCRT/BTC
2020-10-03  0.000043  0.000063  0.000041  0.000049  3105072.0  SCRT/BTC
2020-10-04  0.000049  0.000058  0.000045  0.000054  4149568.0  SCRT/BTC
...              ...       ...       ...       ...        ...       ...
2021-01-01  0.000021  0.000022  0.000021  0.000022   370851.0  SCRT/BTC
2021-01-02  0.000022  0.000022  0.000018  0.000019   521009.0  SCRT/BTC
2021-01-03  0.000019  0.000019  0.000015  0.000017  1043448.0  SCRT/BTC
2021-01-04  0.000016  0.000020  0.000015  0.000019   736479.0  SCRT/BTC
2021-01-05  0.000020  0.000022  0.000020  0.000020   227667.0  SCRT/BTC

[98 rows x 6 columns]

In [7]:
first.equals(second)

True

In [15]:
timeStr=str(datetime.today())
ts = parser.parse(timeStr)
ts

datetime.datetime(2020, 12, 6, 21, 6, 19, 413699)

In [16]:
ts.replace(tzinfo = tz.tzutc())

datetime.datetime(2020, 12, 6, 21, 6, 19, 413699, tzinfo=tzutc())

In [17]:
datetime.utcnow()

datetime.datetime(2020, 12, 7, 3, 8, 39, 985778)

In [6]:
gcd.getUTCTimeStamp('1/6/2020')

datetime.datetime(2020, 1, 6, 0, 0, tzinfo=tzutc())

In [4]:
data = gcd.get_DataFrame(['VIB/BTC'],exchange, '1/1/20')
data

,Open,High,Low,Close,Volume,Ticker
Timestamp,,,,,,
2020-01-01,2.520000e-06,2.700000e-06,2.520000e-06,2.670000e-06,15868601.0,VIB/BTC
2020-01-02,2.670000e-06,2.790000e-06,2.610000e-06,2.660000e-06,15372662.0,VIB/BTC
2020-01-03,2.670000e-06,2.670000e-06,2.550000e-06,2.610000e-06,17228409.0,VIB/BTC
2020-01-04,2.610000e-06,2.790000e-06,2.590000e-06,2.730000e-06,18814619.0,VIB/BTC
2020-01-05,2.730000e-06,3.080000e-06,2.630000e-06,2.950000e-06,55874601.0,VIB/BTC
...,...,...,...,...,...,...
2020-12-30,6.200000e-07,6.800000e-07,5.700000e-07,6.500000e-07,46238116.0,VIB/BTC
2020-12-31,6.400000e-07,6.500000e-07,5.800000e-07,6.000000e-07,29393430.0,VIB/BTC
2021-01-01,6.000000e-07,7.300000e-07,6.000000e-07,6.400000e-07,31696641.0,VIB/BTC
2021-01-02,6.400000e-07,7.000000e-07,5.500000e-07,5.700000e-07,43582553.0,VIB/BTC
2021-01-03,5.700000e-07,5.800000e-07,5.000000e-07,5.500000e-07,33275022.0,VIB/BTC

In [4]:
connection = database.create_connection()
connection

2.6.0

In [6]:

mysql = """SELECT * FROM OHLCV_DATA WHERE Ticker == 'VIB/BTC'"""

In [5]:
query = """SELECT * FROM OHLCV_DATA WHERE Ticker == 'VIB/BTC'"""
columns = ['Ticker','Timestamp','Open','High','Low','Close','Volume','Is_Final_Row']

In [6]:
SQL_Query = pd.read_sql_query(query, connection)
SQL_Query

,Timestamp,Open,High,Low,Close,Volume,Ticker
0,1533081600000,7.780000e-06,8.100000e-06,7.600000e-06,7.710000e-06,27514750.0,VIB/BTC
1,1533168000000,7.720000e-06,8.070000e-06,7.060000e-06,7.190000e-06,19874646.0,VIB/BTC
2,1533254400000,7.190000e-06,7.210000e-06,6.620000e-06,6.850000e-06,21268155.0,VIB/BTC
3,1533340800000,6.850000e-06,7.040000e-06,6.350000e-06,6.600000e-06,27881248.0,VIB/BTC
4,1533427200000,6.590000e-06,7.040000e-06,6.480000e-06,6.910000e-06,26698232.0,VIB/BTC
...,...,...,...,...,...,...,...
1773,1609372800000,6.400000e-07,6.500000e-07,5.800000e-07,6.000000e-07,29393430.0,VIB/BTC
1774,1609459200000,6.000000e-07,7.300000e-07,6.000000e-07,6.400000e-07,31696641.0,VIB/BTC
1775,1609545600000,6.400000e-07,7.000000e-07,5.500000e-07,5.700000e-07,43582553.0,VIB/BTC
1776,1609632000000,5.700000e-07,5.800000e-07,5.000000e-07,5.600000e-07,33439089.0,VIB/BTC
1777,1609718400000,5.500000e-07,5.600000e-07,5.400000e-07,5.500000e-07,466075.0,VIB/BTC

In [23]:
mydf = pd.DataFrame(SQL_Query, columns=columns)
mydf

Empty DataFrame
Columns: [Ticker, Timestamp, Open, High, Low, Close, Volume, Is_Final_Row]
Index: []

In [25]:
SQL_Query.empty

True

In [27]:
gcd.set_data_timestamp_index(SQL_Query).empty

True

In [28]:
connection.close()

In [5]:
print("""SELECT * FROM OHLCV_DATA WHERE Ticker == '{0}'""".format('VIB/BTC'))

SELECT * FROM OHLCV_DATA WHERE Ticker == 'VIB/BTC'