In [2]:
#%matplotlib widget
import backtrader as bt
import backtrader.analyzers as btanalyzers
import rba_tools as rba
import pandas as pd
import numpy as np
#import matplotlib
from datetime import datetime
from datetime import date
from datetime import timedelta

In [3]:
class MaCrossStrategy(bt.Strategy):

    def __init__(self):
        ma_fast = bt.ind.SMA(period = 10)
        ma_slow = bt.ind.SMA(period = 50)

        self.crossover = bt.ind.CrossOver(ma_fast, ma_slow)

    def next(self):
        if not self.position:
            if self.crossover > 0:
                self.buy()
        elif self.crossover < 0:
            self.close()

In [4]:
cerebro = bt.Cerebro()

In [5]:
binance = rba.getBinanceExchange()
dataframe = rba.get_DataFrame(['ETH/BTC'], binance, '1/1/18', '12/31/19')
data = bt.feeds.PandasData(dataname=dataframe,
                               # datetime='Date',
                               nocase=True,
                               )
cerebro.adddata(data)

In [6]:
dataframe2 = rba.get_DataFrame(['LTC/BTC'], binance, '1/1/18', '12/31/19')
data2 = bt.feeds.PandasData(dataname=dataframe2,
                               # datetime='Date',
                               nocase=True,
                               )
cerebro.adddata(data2)

In [7]:
cerebro.addstrategy(MaCrossStrategy)

0

In [8]:
cerebro.broker.setcash(1000000.0)

In [9]:
cerebro.addsizer(bt.sizers.PercentSizer, percents = 10)

In [10]:
#cerebro.addanalyzer(btanalyzers.SharpeRatio, _name = 'sharpe')
#cerebro.addanalyzer(btanalyzers.Transactions, _name = 'trans')
#cerebro.addanalyzer(btanalyzers.Returns, _name = 'returns')
cerebro.addanalyzer(btanalyzers.TradeAnalyzer, _name = 'trades') #good for summary stats on trades
cerebro.addanalyzer(btanalyzers.PositionsValue, _name = 'pos') #this is a good one. Shows position values over time
cerebro.addanalyzer(btanalyzers.AnnualReturn, _name = 'annReturns')

In [11]:
back = cerebro.run()

In [12]:
cerebro.broker.getvalue()

971104.7165789388

In [13]:
for x in back[0].analyzers:
    print(x)

<backtrader.analyzers.tradeanalyzer.TradeAnalyzer object at 0x0000020663C2ED30>
<backtrader.analyzers.positions.PositionsValue object at 0x0000020663C2ED90>
<backtrader.analyzers.annualreturn.AnnualReturn object at 0x0000020663C2EDF0>

In [14]:
mytrades = back[0].analyzers.trades.get_analysis()

In [15]:
def pintdictdict(indict,indent=0):
    indent += 1
    for x in indict:
        print('\n','   ' * indent,x,end='',sep='')
        val = indict[x]
        if isinstance(val,bt.utils.autodict.AutoOrderedDict):
            pintdictdict(val,indent)
        else:
            print('=',val,sep='',end='')

In [16]:
pintdictdict(mytrades)

   total
      total=8
      open=0
      closed=8
   streak
      won
         current=0
         longest=1
      lost
         current=7
         longest=7
   pnl
      gross
         total=-28895.28342106143
         average=-3611.910427632679
      net
         total=-28895.28342106143
         average=-3611.910427632679
   won
      total=1
      pnl
         total=17762.26659598281
         average=17762.26659598281
         max=17762.26659598281
   lost
      total=7
      pnl
         total=-46657.55001704424
         average=-6665.364288149177
         max=-10683.950281394302
   long
      total=8
      pnl
         total=-28895.28342106143
         average=-3611.910427632679
         won
            total=17762.26659598281
            average=17762.26659598281
            max=17762.26659598281
         lost
            total=-46657.55001704424
            average=-6665.364288149177
            max=-10683.950281394302
      won=1
      lost=7
   short
      total=0
      pnl
         total=0.0
         average=0.0
         won
            total=0.0
            average=0.0
            max=0.0
         lost
            total=0.0
            average=0.0
            max=0.0
      won=0
      lost=0
   len
      total=203
      average=25.375
      max=45
      min=5
      won
         total=45
         average=45.0
         max=45
         min=45
      lost
         total=158
         average=22.571428571428573
         max=41
         min=5
      long
         total=203
         average=25.375
         max=45
         min=5
         won
            total=45
            average=45.0
            max=45
            min=45
         lost
            total=158
            average=22.571428571428573
            max=41
            min=5
      short
         total=0
         average=0.0
         max=0
         min=9223372036854775807
         won
            total=0
            average=0.0
            max=0
            min=9223372036854775807
         lost
            total=0
            average=0.0
            max=0
            min=9223372036854775807

In [17]:
annReturns = back[0].analyzers.annReturns.get_analysis()
annReturns

OrderedDict([(2018, 0.01613699725686879), (2019, -0.04431713518895353)])

In [18]:
pos = back[0].analyzers.pos.get_analysis()
for d in [date(2019, 2, 17) + timedelta(days=x) for x in range(15)]:
    print(d,'=',pos[d])

2019-02-17 = [0.0, 0.0]
2019-02-18 = [0.0, 0.0]
2019-02-19 = [98102.75252712643, 0.0]
2019-02-20 = [99968.11854810042, 0.0]
2019-02-21 = [98880.43377655827, 0.0]
2019-02-22 = [99366.8186129727, 0.0]
2019-02-23 = [102386.68050939191, 0.0]
2019-02-24 = [94342.62359946109, 0.0]
2019-02-25 = [96242.73139446469, 0.0]
2019-02-26 = [95582.63768790226, 0.0]
2019-02-27 = [94513.66002545298, 0.0]
2019-02-28 = [94831.68088003164, 0.0]
2019-03-01 = [94572.4537968877, 0.0]
2019-03-02 = [92728.46732916268, 0.0]
2019-03-03 = [91646.12744593278, 0.0]

In [19]:
for x in back[0].stats:
    print(x)

<backtrader.observers.broker.Broker object at 0x0000020663C25E20>
<backtrader.observers.trades.DataTrades object at 0x0000020663C2E670>

In [20]:
datatrades = back[0].stats[1]
broker = back[0].stats[0]

In [96]:
for x in back[0].stats:
    print(type(x))
    print('x.plotinfo.plot =',x.plotinfo.plot)
    print('x.plotinfo.plotskip =',x.plotinfo.plotskip)
    print('x.plotinfo.subplot =',x.plotinfo.subplot)

<class 'backtrader.observers.broker.Broker'>
x.plotinfo.plot = True
x.plotinfo.plotskip = False
x.plotinfo.subplot = True
<class 'backtrader.observers.trades.DataTrades'>
x.plotinfo.plot = True
x.plotinfo.plotskip = False
x.plotinfo.subplot = True

In [97]:
myobs = back[0].stats[1]
myobs

In [107]:
isinstance(myobs ,bt.observers.trades.DataTrades)

True

In [98]:
ind = myobs

In [99]:
for lineidx in range(ind.size()):
            print('lineidx =',lineidx)
            line = ind.lines[lineidx]
            linealias = ind.lines._getlinealias(lineidx)
            print('linealias =',linealias)
            lineplotinfo = getattr(ind.plotlines, '_%d' % lineidx, None)
            print('ind.plotlines =',ind.plotlines)
            print('lineplotinfo =',lineplotinfo)
            if not lineplotinfo:
                lineplotinfo = getattr(ind.plotlines, linealias, None)
                print('2 lineplotinfo =',lineplotinfo)
            if not lineplotinfo:
                lineplotinfo = AutoInfoClass()
                print('3 lineplotinfo =',lineplotinfo)
            pltmethod = lineplotinfo._get('_method', 'plot')
            print('pltmethod =',pltmethod)
            if pltmethod != 'plot':
                toskip += 1 - lineplotinfo._get('_plotskip', False)

lineidx = 0
linealias =
ind.plotlines = <backtrader.metabase.AutoInfoClass_pl_LineSeries_pl_LineIterator_pl_DataAccessor_pl_ObserverBase_pl_Observer_pl_DataTrades_9dc2048420004a7bb9c1de0ebf333b9f object at 0x0000020663C2EC70>
lineplotinfo = None
2 lineplotinfo = <backtrader.metabase.AutoInfoClass_9dc2048420004a7bb9c1de0ebf333b9f_ object at 0x0000020663C2ECA0>
pltmethod = plot
lineidx = 1
linealias =
ind.plotlines = <backtrader.metabase.AutoInfoClass_pl_LineSeries_pl_LineIterator_pl_DataAccessor_pl_ObserverBase_pl_Observer_pl_DataTrades_9dc2048420004a7bb9c1de0ebf333b9f object at 0x0000020663C2EC70>
lineplotinfo = None
2 lineplotinfo = <backtrader.metabase.AutoInfoClass_9dc2048420004a7bb9c1de0ebf333b9f_ object at 0x0000020663C2ECA0>
pltmethod = plot

In [100]:
for line in myobs.lines:
    npary = np.frombuffer(line.array)
    print(npary[~np.isnan(npary)])
    print(len(npary[~np.isnan(npary)]))

[ 17762.26659598  -4050.46051866  -5153.06062077  -9919.81319643
  -8832.42793599 -10683.95028139  -2157.22029591  -5860.61716789]
8
[]
0

In [101]:
npary = np.frombuffer(myobs.lines[0].array)
npary

array([nan, nan, nan, ..., nan, nan, nan])

In [102]:
npary[~np.isnan(npary)]

array([ 17762.26659598,  -4050.46051866,  -5153.06062077,  -9919.81319643,
        -8832.42793599, -10683.95028139,  -2157.22029591,  -5860.61716789])

In [103]:
myline = myobs.lines[0]
myline

In [104]:
myline.array[0:1000]

array('d', [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 17762.26659598281, nan, nan, nan, nan, nan, nan, -4050.460518664533, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -5153.060620768923, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -9919.813196433519, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -8832.427935987153, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -10683.950281394302, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -2157.220295905148, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, -5860.617167890665, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [105]:
data = {'trades': myline.array}
df = pd.DataFrame(data=data)
df

      trades
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1458     NaN
1459     NaN
1460     NaN
1461     NaN
1462     NaN

[1463 rows x 1 columns]

In [106]:
df.loc[np.isnan(df['trades']) == False]

           trades
156  17762.266596
163  -4050.460519
321  -5153.060621
393  -9919.813196
448  -8832.427936
537 -10683.950281
668  -2157.220296
697  -5860.617168

In [118]:
def get_trades_from_cerebro_run(cerebro_run):
    data = None
    for strat in cerebro_run[0].stats:
        print(strat)
        if isinstance(strat, bt.observers.trades.DataTrades):
            for line in strat.lines:
                npary = np.frombuffer(line.array)
                if len(npary[~np.isnan(npary)]) > 0:
                    data = npary
    return data
print(get_trades_from_cerebro_run(back))

<backtrader.observers.broker.Broker object at 0x0000020663C25E20>
<backtrader.observers.trades.DataTrades object at 0x0000020663C2E670>
[nan nan nan ... nan nan nan]

In [111]:
def get_cerebro_data(cerebro):
    #assumption that there is only one strategy
    strat = cerebro.runstrats[0][0]
    ret = []
    data = {}
    for observer in strat.getobservers():
        print(observer.__class__.__name__)
        for line in observer.lines:
            ret.append(np.frombuffer(line.array))
            observer_name = observer.__class__.__name__
            data[observer_name] = line.array
    return pd.DataFrame(data=data)
mylist = get_cerebro_data(cerebro)

Broker
BuySell
BuySell
DataTrades

In [57]:
mylist.dropna(how='all')

             Broker  BuySell  DataTrades
0    1000000.000000      NaN         NaN
1    1000000.000000      NaN         NaN
2    1000000.000000      NaN         NaN
3    1000000.000000      NaN         NaN
4    1000000.000000      NaN         NaN
..              ...      ...         ...
727   971104.716579      NaN         NaN
728   971104.716579      NaN         NaN
729   971104.716579      NaN         NaN
730   971104.716579      NaN         NaN
731   971104.716579      NaN         NaN

[732 rows x 3 columns]

In [58]:
nobroke = mylist.drop('Broker',axis=1)

In [59]:
nobroke

      BuySell  DataTrades
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
...       ...         ...
1458      NaN         NaN
1459      NaN         NaN
1460      NaN         NaN
1461      NaN         NaN
1462      NaN         NaN

[1463 rows x 2 columns]

In [60]:
nobroke.loc[np.isnan(nobroke['DataTrades']) == False]

Empty DataFrame
Columns: [BuySell, DataTrades]
Index: []

In [94]:
myobs = back[0].stats[1]
myobs

In [95]:
for line in myobs.lines:
    npary = np.frombuffer(line.array)
    print(npary[~np.isnan(npary)])
    print(len(npary[~np.isnan(npary)]))

[ 17762.26659598  -4050.46051866  -5153.06062077  -9919.81319643
  -8832.42793599 -10683.95028139  -2157.22029591  -5860.61716789]
8
[]
0