In [1]:
from backtrader import plot
import backtrader as bt
import backtrader.analyzers as btanalyzers
import rba_tools as rba
import pandas as pd
import numpy as np
from datetime import datetime,date,timedelta
from backtrader.utils import num2date,date2num
import rba_tools.backtest.rba_backtrader_set as rbs
import plotly.graph_objects as go
import plotly.express as px
import rba_tools.backtest.backtrader_extensions.plot as rbsplot
import importlib

In [18]:
importlib.reload(rbsplot)

In [3]:
class MaCrossStrategy(bt.Strategy):

    def __init__(self):
        ma_fast = bt.ind.SMA(period = 10)
        ma_slow = bt.ind.SMA(period = 50)

        self.crossover = bt.ind.CrossOver(ma_fast, ma_slow)

    def next(self):
        if not self.position:
            if self.crossover > 0:
                self.buy()
        elif self.crossover < 0:
            self.close()

In [4]:
cerebro = bt.Cerebro(runonce=False)

# Add a strategy
cerebro.addstrategy(MaCrossStrategy)
#cerebro.addstrategy(rbsstrat.ConsecutiveBarsTest)
#cerebro.addstrategy(rbsstrat.StopLimitEntryStrategy)

#get a datapuller
puller = rba.retriever.get_crypto_data.DataPuller.kraken_puller()

#symbol and date range
symbol = 'ETH/USD'
from_date = '1/1/20'
to_date = '6/30/20'

# Get a pandas dataframe
dataframe = puller.fetch_df(symbol, 'h', from_date, to_date)

# Pass it to the backtrader datafeed and add it to the cerebro
data = bt.feeds.PandasData(dataname=dataframe,
                            nocase=True,
                            )
#cerebro.adddata(data)
cerebro.resampledata(data, timeframe=bt.TimeFrame.Minutes, compression=240)

cerebro.resampledata(data, timeframe=bt.TimeFrame.Minutes, compression=1440)

# Run over everything
back = cerebro.run()

# Plot the result
#myp = cerebro.plot(numfigs=1, style='bar')

In [5]:
strategy = back[0]
from backtrader import plot
plotter = plot.Plot()
plotter

In [6]:
plotter.sortdataindicators(strategy)

In [7]:
vars(plotter)

{'params': <backtrader.metabase.AutoInfoClass_Plot_OldSync at 0x1c7827e65b0>,
 'p': <backtrader.metabase.AutoInfoClass_Plot_OldSync at 0x1c7827e65b0>,
 'dplotstop': [<backtrader.observers.broker.Broker at 0x1c7e94b3be0>,
  <backtrader.observers.trades.DataTrades at 0x1c7e94ee760>],
 'dplotsup': defaultdict(list, {}),
 'dplotsdown': defaultdict(list,
             {<backtrader.indicators.sma.SMA at 0x1c7e794c160>: [<backtrader.indicators.crossover.CrossOver at 0x1c7e798a940>]}),
 'dplotsover': defaultdict(list,
             {<backtrader.feeds.pandafeed.PandasData at 0x1c7e7967820>: [<backtrader.observers.buysell.BuySell at 0x1c7e94ee250>,
               <backtrader.indicators.sma.SMA at 0x1c7e794c160>,
               <backtrader.indicators.sma.SMA at 0x1c7e798a6d0>],
              <backtrader.feed.DataClone at 0x1c7e794cd30>: [<backtrader.observers.buysell.BuySell at 0x1c7e94ee4f0>]})}

In [8]:
rbsplot.rbs_sort_indicators(strategy)

{'global_top': [<backtrader.observers.broker.Broker at 0x1c7e94b3be0>,
  <backtrader.observers.trades.DataTrades at 0x1c7e94ee760>],
 'upper': defaultdict(list, {}),
 'lower': defaultdict(list,
             {<backtrader.indicators.sma.SMA at 0x1c7e794c160>: [<backtrader.indicators.crossover.CrossOver at 0x1c7e798a940>]}),
 'overlay': defaultdict(list,
             {<backtrader.feeds.pandafeed.PandasData at 0x1c7e7967820>: [<backtrader.observers.buysell.BuySell at 0x1c7e94ee250>,
               <backtrader.indicators.sma.SMA at 0x1c7e794c160>,
               <backtrader.indicators.sma.SMA at 0x1c7e798a6d0>],
              <backtrader.feed.DataClone at 0x1c7e794cd30>: [<backtrader.observers.buysell.BuySell at 0x1c7e94ee4f0>]})}

In [9]:
plotter.plot(strategy)

In [10]:
vars(plotter)

{'params': <backtrader.metabase.AutoInfoClass_Plot_OldSync at 0x1c7827e65b0>,
 'p': <backtrader.metabase.AutoInfoClass_Plot_OldSync at 0x1c7827e65b0>,
 'dplotstop': [<backtrader.observers.broker.Broker at 0x1c7e94b3be0>,
  <backtrader.observers.trades.DataTrades at 0x1c7e94ee760>],
 'dplotsup': defaultdict(list,
             {<backtrader.feeds.pandafeed.PandasData at 0x1c7e7967820>: [],
              <backtrader.observers.buysell.BuySell at 0x1c7e94ee250>: [],
              <backtrader.indicators.sma.SMA at 0x1c7e794c160>: [],
              <backtrader.indicators.sma.SMA at 0x1c7e798a6d0>: [],
              <backtrader.indicators.crossover.CrossOver at 0x1c7e798a940>: [],
              <backtrader.feed.DataClone at 0x1c7e794cd30>: [],
              <backtrader.observers.buysell.BuySell at 0x1c7e94ee4f0>: []}),
 'dplotsdown': defaultdict(list,
             {<backtrader.indicators.sma.SMA at 0x1c7e794c160>: [<backtrader.indicators.crossover.CrossOver at 0x1c7e798a940>],
              <backtrader.observers.buysell.BuySell at 0x1c7e94ee250>: [],
              <backtrader.indicators.crossover.CrossOver at 0x1c7e798a940>: [],
              <backtrader.indicators.sma.SMA at 0x1c7e798a6d0>: [],
              <backtrader.feeds.pandafeed.PandasData at 0x1c7e7967820>: [],
              <backtrader.observers.buysell.BuySell at 0x1c7e94ee4f0>: [],
              <backtrader.feed.DataClone at 0x1c7e794cd30>: []}),
 'dplotsover': defaultdict(list,
             {<backtrader.feeds.pandafeed.PandasData at 0x1c7e7967820>: [<backtrader.observers.buysell.BuySell at 0x1c7e94ee250>,
               <backtrader.indicators.sma.SMA at 0x1c7e794c160>,
               <backtrader.indicators.sma.SMA at 0x1c7e798a6d0>],
              <backtrader.feed.DataClone at 0x1c7e794cd30>: [<backtrader.observers.buysell.BuySell at 0x1c7e94ee4f0>],
              <backtrader.observers.broker.Broker at 0x1c7e94b3be0>: [],
              <backtrader.observers.trades.DataTrades at 0x1c7e94ee760>: [],
              <backtrader.observers.buysell.BuySell at 0x1c7e94ee250>: [],
              <backtrader.indicators.sma.SMA at 0x1c7e794c160>: [],
              <backtrader.indicators.sma.SMA at 0x1c7e798a6d0>: [],
              <backtrader.indicators.crossover.CrossOver at 0x1c7e798a940>: [],
              <backtrader.observers.buysell.BuySell at 0x1c7e94ee4f0>: []}),
 'mpyplot': <module 'matplotlib.pyplot' from 'C:\\Users\\Avery\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\matplotlib\\pyplot.py'>,
 'pinf': <backtrader.plot.plot.PInfo at 0x1c7827e6730>}

In [11]:
rbsplot.get_ohlcv_data_from_data(strategy.data0)

                       Open    High     Low   Close        Volume
2020-01-01 00:00:00  128.66  128.66  128.19  128.42    515.780816
2020-01-01 04:00:00  128.33  130.58  128.30  129.67   1857.032786
2020-01-01 08:00:00  129.67  130.25  129.60  129.81   1191.872012
2020-01-01 12:00:00  130.03  131.50  129.95  131.32    939.921635
2020-01-01 16:00:00  131.31  132.79  131.01  132.68   2201.396240
...                     ...     ...     ...     ...           ...
2020-06-30 08:00:00  226.39  227.15  225.77  226.05   4074.983230
2020-06-30 12:00:00  226.01  228.01  223.51  224.76   8255.857590
2020-06-30 16:00:00  224.52  226.73  222.80  225.75  12605.506344
2020-06-30 20:00:00  225.86  225.97  224.51  225.47   2980.591000
2020-07-01 00:00:00  225.58  226.46  225.01  225.68   1415.758444

[1093 rows x 5 columns]

In [12]:
rbsplot.get_ohlcv_data_from_data(strategy.data1)

              Open    High     Low   Close        Volume
2020-01-01  128.66  128.66  128.19  128.42    515.780816
2020-01-02  128.33  132.86  128.30  130.19  13163.487459
2020-01-03  130.06  130.06  126.00  126.71  26250.065941
2020-01-04  126.69  134.72  125.40  133.58  50313.895117
2020-01-05  133.36  135.91  132.58  134.78  18000.273569
...            ...     ...     ...     ...           ...
2020-06-27  232.93  233.19  226.86  229.30  41971.814456
2020-06-28  229.51  230.89  215.90  219.35  60857.542028
2020-06-29  219.35  227.57  217.80  224.61  38486.237540
2020-06-30  224.63  229.82  221.19  227.76  43663.927594
2020-07-01  227.68  228.01  222.80  225.47  30350.019881

[183 rows x 5 columns]

In [19]:
res = rbsplot.my_plot(strategy)
res

[                       Open    High     Low   Close        Volume  \
 2020-01-01 00:00:00  128.66  128.66  128.19  128.42    515.780816
 2020-01-01 04:00:00  128.33  130.58  128.30  129.67   1857.032786
 2020-01-01 08:00:00  129.67  130.25  129.60  129.81   1191.872012
 2020-01-01 12:00:00  130.03  131.50  129.95  131.32    939.921635
 2020-01-01 16:00:00  131.31  132.79  131.01  132.68   2201.396240
 ...                     ...     ...     ...     ...           ...
 2020-06-30 08:00:00  226.39  227.15  225.77  226.05   4074.983230
 2020-06-30 12:00:00  226.01  228.01  223.51  224.76   8255.857590
 2020-06-30 16:00:00  224.52  226.73  222.80  225.75  12605.506344
 2020-06-30 20:00:00  225.86  225.97  224.51  225.47   2980.591000
 2020-07-01 00:00:00  225.58  226.46  225.01  225.68   1415.758444

                      cash (fund=None)  value (fund=None)   (usenames=True)  \
 2020-01-01 00:00:00          10000.00           10000.00               NaN
 2020-01-01 04:00:00          10000.00           10000.00               NaN
 2020-01-01 08:00:00          10000.00           10000.00               NaN
 2020-01-01 12:00:00          10000.00           10000.00               NaN
 2020-01-01 16:00:00          10000.00           10000.00               NaN
 ...                               ...                ...               ...
 2020-06-30 08:00:00          10068.84           10068.84               NaN
 2020-06-30 12:00:00          10068.84           10068.84               NaN
 2020-06-30 16:00:00          10068.84           10068.84               NaN
 2020-06-30 20:00:00          10068.84           10068.84               NaN
 2020-07-01 00:00:00          10068.84           10068.84               NaN

                      buy (barplot=True bardist=0.015)  \
 2020-01-01 00:00:00                               NaN
 2020-01-01 04:00:00                               NaN
 2020-01-01 08:00:00                               NaN
 2020-01-01 12:00:00                               NaN
 2020-01-01 16:00:00                               NaN
 ...                                               ...
 2020-06-30 08:00:00                               NaN
 2020-06-30 12:00:00                               NaN
 2020-06-30 16:00:00                               NaN
 2020-06-30 20:00:00                               NaN
 2020-07-01 00:00:00                               NaN

                      sell (barplot=True bardist=0.015)  sma (period=10)  \
 2020-01-01 00:00:00                                NaN              NaN
 2020-01-01 04:00:00                                NaN              NaN
 2020-01-01 08:00:00                                NaN              NaN
 2020-01-01 12:00:00                                NaN              NaN
 2020-01-01 16:00:00                                NaN              NaN
 ...                                                ...              ...
 2020-06-30 08:00:00                                NaN          225.232
 2020-06-30 12:00:00                                NaN          225.227
 2020-06-30 16:00:00                                NaN          225.341
 2020-06-30 20:00:00                                NaN          225.423
 2020-07-01 00:00:00                                NaN          225.709

                      sma (period=50)
 2020-01-01 00:00:00              NaN
 2020-01-01 04:00:00              NaN
 2020-01-01 08:00:00              NaN
 2020-01-01 12:00:00              NaN
 2020-01-01 16:00:00              NaN
 ...                              ...
 2020-06-30 08:00:00         232.0544
 2020-06-30 12:00:00         231.8558
 2020-06-30 16:00:00         231.6620
 2020-06-30 20:00:00         231.3984
 2020-07-01 00:00:00         231.0338

 [1093 rows x 12 columns],
               Open    High     Low   Close        Volume  \
 2020-01-01  128.66  128.66  128.19  128.42    515.780816
 2020-01-02  128.33  132.86  128.30  130.19  13163.487459
 2020-01-03  130.06  130.06  126.00  126.71  26250.065941
 2020-01-04  126.69  134.72  125.40  133.58  50313.895117
 2020-01-05  133.36  135.91  132.58  134.78  18000.273569
 ...            ...     ...     ...     ...           ...
 2020-06-27  232.93  233.19  226.86  229.30  41971.814456
 2020-06-28  229.51  230.89  215.90  219.35  60857.542028
 2020-06-29  219.35  227.57  217.80  224.61  38486.237540
 2020-06-30  224.63  229.82  221.19  227.76  43663.927594
 2020-07-01  227.68  228.01  222.80  225.47  30350.019881

             buy (barplot=True bardist=0.015)  \
 2020-01-01                               NaN
 2020-01-02                               NaN
 2020-01-03                               NaN
 2020-01-04                               NaN
 2020-01-05                               NaN
 ...                                      ...
 2020-06-27                               NaN
 2020-06-28                               NaN
 2020-06-29                               NaN
 2020-06-30                               NaN
 2020-07-01                               NaN

             sell (barplot=True bardist=0.015)
 2020-01-01                                NaN
 2020-01-02                                NaN
 2020-01-03                                NaN
 2020-01-04                                NaN
 2020-01-05                                NaN
 ...                                       ...
 2020-06-27                                NaN
 2020-06-28                                NaN
 2020-06-29                                NaN
 2020-06-30                                NaN
 2020-07-01                                NaN

 [183 rows x 7 columns]]

In [20]:
res[0]

,Open,High,Low,Close,Volume,cash (fund=None),value (fund=None),(usenames=True),buy (barplot=True bardist=0.015),sell (barplot=True bardist=0.015),sma (period=10),sma (period=50)
2020-01-01 00:00:00,128.66,128.66,128.19,128.42,515.780816,10000.00,10000.00,NaN,NaN,NaN,NaN,NaN
2020-01-01 04:00:00,128.33,130.58,128.30,129.67,1857.032786,10000.00,10000.00,NaN,NaN,NaN,NaN,NaN
2020-01-01 08:00:00,129.67,130.25,129.60,129.81,1191.872012,10000.00,10000.00,NaN,NaN,NaN,NaN,NaN
2020-01-01 12:00:00,130.03,131.50,129.95,131.32,939.921635,10000.00,10000.00,NaN,NaN,NaN,NaN,NaN
2020-01-01 16:00:00,131.31,132.79,131.01,132.68,2201.396240,10000.00,10000.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-30 08:00:00,226.39,227.15,225.77,226.05,4074.983230,10068.84,10068.84,NaN,NaN,NaN,225.232,232.0544
2020-06-30 12:00:00,226.01,228.01,223.51,224.76,8255.857590,10068.84,10068.84,NaN,NaN,NaN,225.227,231.8558
2020-06-30 16:00:00,224.52,226.73,222.80,225.75,12605.506344,10068.84,10068.84,NaN,NaN,NaN,225.341,231.6620
2020-06-30 20:00:00,225.86,225.97,224.51,225.47,2980.591000,10068.84,10068.84,NaN,NaN,NaN,225.423,231.3984
2020-07-01 00:00:00,225.58,226.46,225.01,225.68,1415.758444,10068.84,10068.84,NaN,NaN,NaN,225.709,231.0338

In [21]:
res[1]

,Open,High,Low,Close,Volume,buy (barplot=True bardist=0.015),sell (barplot=True bardist=0.015)
2020-01-01,128.66,128.66,128.19,128.42,515.780816,NaN,NaN
2020-01-02,128.33,132.86,128.30,130.19,13163.487459,NaN,NaN
2020-01-03,130.06,130.06,126.00,126.71,26250.065941,NaN,NaN
2020-01-04,126.69,134.72,125.40,133.58,50313.895117,NaN,NaN
2020-01-05,133.36,135.91,132.58,134.78,18000.273569,NaN,NaN
...,...,...,...,...,...,...,...
2020-06-27,232.93,233.19,226.86,229.30,41971.814456,NaN,NaN
2020-06-28,229.51,230.89,215.90,219.35,60857.542028,NaN,NaN
2020-06-29,219.35,227.57,217.80,224.61,38486.237540,NaN,NaN
2020-06-30,224.63,229.82,221.19,227.76,43663.927594,NaN,NaN
2020-07-01,227.68,228.01,222.80,225.47,30350.019881,NaN,NaN