In [1]:
import rba_tools.retriever.get_crypto_data as gcd
import rba_tools.retriever.retrievers as retrievers
import rba_tools.retriever.database_interface as dbi
from rba_tools.retriever.timeframe import Timeframe
from pathlib import Path
import pandas as pd
from datetime import datetime, date, timedelta
import rba_tools.utils as utils
from dateutil import parser

In [2]:
symbol = 'ETH/BTC'
timeframe = Timeframe.from_string('1D')
from_date = datetime(2020, 12, 1)
to_date = datetime(2020, 12, 3)

sqlite3_db = dbi.SQLite3OHLCVDatabase(True)

db_retriever = retrievers.DatabaseRetriever(sqlite3_db)
db_retriever_result = db_retriever.fetch_ohlcv(symbol, timeframe, from_date, to_date)

In [3]:
gcd.get_empty_ohlcv_df()

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Symbol, Is_Final_Row]
Index: []

In [3]:
retriever = retrievers.CCXTDataRetriever('binance')

In [6]:
dt = datetime(2020,1,1)
dt

datetime.datetime(2020, 1, 1, 0, 0)

In [7]:
symbol = 'ETH/BTC'
timeframe = Timeframe.from_string('1d')
from_date = datetime(2019, 12, 1)
to_date = datetime(2021, 12, 3)
retriever = retrievers.CCXTDataRetriever('binance')
result = retriever.fetch_ohlcv(symbol, timeframe, from_date, to_date)

Fetching ETH/BTC market data from Binance. call #1
Fetching ETH/BTC market data from Binance. call #2
Fetching ETH/BTC market data from Binance. call #3

In [8]:
result

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2019-12-01,0.020078,0.020577,0.019941,0.020392,122514.9950,ETH/BTC,NaN
2019-12-02,0.020392,0.020530,0.020220,0.020378,92870.1650,ETH/BTC,NaN
2019-12-03,0.020378,0.020401,0.020120,0.020175,89803.6480,ETH/BTC,NaN
2019-12-04,0.020181,0.020373,0.019500,0.020212,151509.3480,ETH/BTC,NaN
2019-12-05,0.020217,0.020245,0.019776,0.020046,115132.4250,ETH/BTC,NaN
...,...,...,...,...,...,...,...
2021-11-24,0.075410,0.075997,0.074021,0.074728,67903.6959,ETH/BTC,NaN
2021-11-25,0.074727,0.076840,0.074167,0.076734,92320.9970,ETH/BTC,NaN
2021-11-26,0.076739,0.076999,0.073112,0.075222,103087.0415,ETH/BTC,NaN
2021-11-27,0.075231,0.076014,0.074632,0.074831,45287.9932,ETH/BTC,NaN
2021-11-28,0.074832,0.074855,0.074440,0.074460,2514.6781,ETH/BTC,NaN

In [21]:
empty = gcd.get_empty_ohlcv_df()
empty.append(result).sort_index()

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2019-12-01,0.020078,0.020577,0.019941,0.020392,122514.9950,ETH/BTC,NaN
2019-12-02,0.020392,0.020530,0.020220,0.020378,92870.1650,ETH/BTC,NaN
2019-12-03,0.020378,0.020401,0.020120,0.020175,89803.6480,ETH/BTC,NaN
2019-12-04,0.020181,0.020373,0.019500,0.020212,151509.3480,ETH/BTC,NaN
2019-12-05,0.020217,0.020245,0.019776,0.020046,115132.4250,ETH/BTC,NaN
...,...,...,...,...,...,...,...
2021-11-24,0.075410,0.075997,0.074021,0.074728,67903.6959,ETH/BTC,NaN
2021-11-25,0.074727,0.076840,0.074167,0.076734,92320.9970,ETH/BTC,NaN
2021-11-26,0.076739,0.076999,0.073112,0.075222,103087.0415,ETH/BTC,NaN
2021-11-27,0.075231,0.076014,0.074632,0.074831,45287.9932,ETH/BTC,NaN
2021-11-28,0.074832,0.074855,0.074440,0.074460,2514.6781,ETH/BTC,NaN

In [6]:
db_retriever = gcd.Databaseretriever(gcd.SQLite3OHLCVDatabase(True))
symbol = 'ETH/BTC'
timeframe = Timeframe.from_string('1d')
from_date = datetime(2020, 12, 1)
to_date = datetime(2020, 12, 3)

In [7]:
db_data = db_retriever.fetch_ohlcv(symbol, timeframe, from_date, to_date)
db_data

Empty DataFrame
Columns: [Timestamp, Open, High, Low, Close, Volume, Symbol, Is_Final_Row]
Index: []

In [8]:
symbol = 'ETH/BTC'
timeframe = Timeframe.from_string('1h')
from_date = datetime(2021, 1, 1)
to_date = datetime(2021, 1, 31)
retriever = gcd.CCXTDataretriever('binance')
result = retriever.fetch_ohlcv(symbol, timeframe, from_date, to_date)

Fetching ETH/BTC market data from Binance. call #1
Fetching ETH/BTC market data from Binance. call #2

In [13]:
symbol = 'ETH/BTC'
timeframe = '1d'
from_date = '2019-12-1'
to_date = '2021-12-3'
result = gcd.main_default(symbol, timeframe, from_date, to_date)

Fetching ETH/BTC market data from Binance. call #1
Fetching ETH/BTC market data from Binance. call #1
Fetching ETH/BTC market data from Binance. call #2
Fetching ETH/BTC market data from Binance. call #3

IntegrityError: UNIQUE constraint failed: TIMEFRAME_1D.Symbol, TIMEFRAME_1D.Timestamp

In [2]:
symbol = 'ETH/BTC'
timeframe_str = '1h'
from_date_str = '12-1-2020'
to_date_str = '12-20-2020'
puller = gcd.DataPuller.use_defaults()

result = puller.fetch_df(symbol, timeframe_str, from_date_str, to_date_str)

result

Fetching ETH/BTC market data from Binance. call #1
Fetching ETH/BTC market data from Binance. call #1

IntegrityError: UNIQUE constraint failed: TIMEFRAME_1H.Symbol, TIMEFRAME_1H.Timestamp

In [ ]:
def myfunc():
    print(123)
myfunc()