In [1]:
import rba_tools.retriever.get_crypto_data as gcd
import rba_tools.retriever.retrievers as retrievers
import rba_tools.retriever.database_interface as dbi
import rba_tools.retriever.constants as constants
from rba_tools.retriever.timeframe import Timeframe
from pathlib import Path
import pandas as pd
from datetime import datetime, date, timedelta
from dateutil import parser
from zipfile import ZipFile

In [2]:
puller = gcd.DataPuller.use_defaults()

In [14]:
symbol = 'ETH/BTC'
result = puller.fetch_df(symbol, 'd', '2019-01-01', '2020-01-01')
result

Fetching ETH/BTC market data from Kraken. call #1

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Symbol, Is_Final_Row]
Index: []

In [10]:
result = puller.database._execute_query('SELECT * FROM TIMEFRAME_1D WHERE Symbol = \'ETH/BTC\' and Timestamp >= "2019-01-01"            and Timestamp < "2020-01-01"')
result

In [13]:
result = puller.database._execute_query('SELECT * FROM TIMEFRAME_1D WHERE Timestamp < "2020-01-01"')
result

[]

In [6]:
puller = gcd.DataPuller.use_defaults()
symbol = 'ETH/BTC'
result = puller.fetch_df(symbol, 'd', '2020-12-1', '2020-12-31')

In [7]:
result

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2020-12-01,0.03129,0.03219,0.03020,0.03121,21046.006539,ETH/BTC,NaN
2020-12-02,0.03117,0.03159,0.03100,0.03115,9307.126005,ETH/BTC,NaN
2020-12-03,0.03108,0.03180,0.03099,0.03172,10721.005527,ETH/BTC,NaN
2020-12-04,0.03173,0.03174,0.03040,0.03042,13298.967961,ETH/BTC,NaN
2020-12-05,0.03041,0.03122,0.03031,0.03117,6285.388136,ETH/BTC,NaN
2020-12-06,0.03119,0.03145,0.03089,0.03110,8561.725350,ETH/BTC,NaN
2020-12-07,0.03106,0.03106,0.03075,0.03083,4968.504992,ETH/BTC,NaN
2020-12-08,0.03081,0.03086,0.02997,0.03028,10225.439645,ETH/BTC,NaN
2020-12-09,0.03030,0.03135,0.03002,0.03089,10681.914032,ETH/BTC,NaN
2020-12-10,0.03093,0.03100,0.03049,0.03059,3562.892427,ETH/BTC,NaN
2020-12-11,0.03064,0.03068,0.03014,0.03019,3925.183030,ETH/BTC,NaN
2020-12-12,0.03019,0.03050,0.02984,0.03022,4421.802633,ETH/BTC,NaN
2020-12-13,0.03021,0.03091,0.03004,0.03082,6312.361065,ETH/BTC,NaN
2020-12-14,0.03084,0.03085,0.03022,0.03043,6387.286569,ETH/BTC,NaN
2020-12-15,0.03042,0.03055,0.02129,0.03033,25830.249554,ETH/BTC,NaN
2020-12-16,0.03032,0.03036,0.02955,0.02983,15717.534461,ETH/BTC,NaN
2020-12-17,0.02987,0.03034,0.02763,0.02821,32532.875015,ETH/BTC,NaN
2020-12-18,0.02823,0.02871,0.02775,0.02828,11812.667383,ETH/BTC,NaN
2020-12-19,0.02831,0.02855,0.02511,0.02761,18320.985187,ETH/BTC,NaN
2020-12-20,0.02763,0.02791,0.02685,0.02718,10909.558545,ETH/BTC,NaN
2020-12-21,0.02718,0.02729,0.02629,0.02677,12230.341896,ETH/BTC,NaN
2020-12-22,0.02674,0.02705,0.02620,0.02675,14042.404680,ETH/BTC,NaN
2020-12-23,0.02674,0.02675,0.02400,0.02520,18330.613267,ETH/BTC,NaN
2020-12-24,0.02521,0.02596,0.02481,0.02582,13704.327271,ETH/BTC,NaN
2020-12-25,0.02582,0.02613,0.02525,0.02541,8284.322836,ETH/BTC,NaN
2020-12-26,0.02537,0.02549,0.02388,0.02404,19767.278467,ETH/BTC,NaN
2020-12-27,0.02406,0.02628,0.02277,0.02603,55922.547024,ETH/BTC,NaN
2020-12-28,0.02603,0.02765,0.02577,0.02697,34779.327433,ETH/BTC,NaN
2020-12-29,0.02700,0.02737,0.02633,0.02672,14360.381694,ETH/BTC,NaN
2020-12-30,0.02675,0.02699,0.02578,0.02604,18984.998801,ETH/BTC,NaN
2020-12-31,0.02602,0.02602,0.02541,0.02546,12210.928192,ETH/BTC,NaN

In [6]:
file = r'c:\Users\Avery\Documents\GitHub\rba_tools_clone\src\rba_tools\retriever\ohlcv_data\Kraken_OHLCVT.zip'
file

'c:\\Users\\Avery\\Documents\\GitHub\\rba_tools_clone\\src\\rba_tools\\retriever\\ohlcv_data\\Kraken_OHLCVT.zip'

In [7]:
zf = ZipFile(file)
zf

In [8]:
kraken_headers = [constants.INDEX_HEADER]
kraken_headers.extend(constants.DATAFRAME_HEADERS)
df = pd.read_csv(zf.open('ETHUSD_1440.csv'), index_col=0, names=kraken_headers)
df['datetime'] = pd.to_datetime(df.index, unit='s')
df

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row,datetime
Timestamp,,,,,,,,
1438905600,3.00000,3.00001,3.00000,3.00000,123.930568,4,NaN,2015-08-07
1438992000,3.00000,3.00000,0.15000,1.19999,1942.888147,20,NaN,2015-08-08
1439251200,0.79969,1.15000,0.65038,0.99000,9234.568705,84,NaN,2015-08-11
1439337600,1.00000,1.28800,0.90500,1.28800,1736.114983,46,NaN,2015-08-12
1439424000,1.26280,1.88480,1.26280,1.88480,2815.450762,61,NaN,2015-08-13
...,...,...,...,...,...,...,...,...
1632614400,2924.74000,3116.73000,2740.66000,3060.96000,30421.271665,23353,NaN,2021-09-26
1632700800,3060.58000,3165.76000,2922.50000,2927.68000,26307.363364,18413,NaN,2021-09-27
1632787200,2925.74000,2969.98000,2789.43000,2807.88000,41079.102185,21980,NaN,2021-09-28
1632873600,2805.30000,2948.99000,2782.00000,2850.86000,38359.295840,18602,NaN,2021-09-29
1632960000,2850.19000,3050.00000,2835.43000,3000.22000,39912.605687,20439,NaN,2021-09-30

In [11]:
df.loc[df['datetime'] >= datetime(2020,12,30)]

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row,datetime
Timestamp,,,,,,,,
1609286400,731.84,758.00,716.23,752.50,129621.210754,28735,NaN,2020-12-30
1609372800,752.90,756.11,721.00,737.45,84351.632647,19784,NaN,2020-12-31
1609459200,737.35,750.00,717.00,730.85,44230.209858,15536,NaN,2021-01-01
1609545600,730.95,788.00,717.50,775.01,149416.825129,35405,NaN,2021-01-02
1609632000,775.05,1012.70,769.49,979.86,300555.748235,90609,NaN,2021-01-03
...,...,...,...,...,...,...,...,...
1632614400,2924.74,3116.73,2740.66,3060.96,30421.271665,23353,NaN,2021-09-26
1632700800,3060.58,3165.76,2922.50,2927.68,26307.363364,18413,NaN,2021-09-27
1632787200,2925.74,2969.98,2789.43,2807.88,41079.102185,21980,NaN,2021-09-28
1632873600,2805.30,2948.99,2782.00,2850.86,38359.295840,18602,NaN,2021-09-29
1632960000,2850.19,3050.00,2835.43,3000.22,39912.605687,20439,NaN,2021-09-30

In [3]:
krak = retrievers.KrakenOHLCVTZipRetriever()
krak

In [5]:
symbol = 'ETH/USD'
timeframe = Timeframe.from_string('1D')
from_date = datetime(2020, 12, 1)
to_date = datetime(2020, 12, 30)
mydf = krak.fetch_ohlcv(symbol, timeframe, from_date, to_date)
mydf

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2020-12-01,616.84,636.58,555.71,586.38,192132.404136,ETH/USD,NaN
2020-12-02,586.01,605.34,575.20,597.74,61798.096861,ETH/USD,NaN
2020-12-03,597.50,624.53,586.24,616.57,65570.494322,ETH/USD,NaN
2020-12-04,616.57,620.57,565.62,567.79,89002.064950,ETH/USD,NaN
2020-12-05,567.57,597.69,561.34,597.00,48755.082074,ETH/USD,NaN
2020-12-06,596.99,607.68,582.77,602.64,56437.787821,ETH/USD,NaN
2020-12-07,602.65,602.99,584.60,591.26,32957.850188,ETH/USD,NaN
2020-12-08,591.25,595.00,548.14,554.65,76992.959132,ETH/USD,NaN
2020-12-09,554.65,577.97,530.00,573.21,94064.177372,ETH/USD,NaN
2020-12-10,573.16,575.28,548.29,558.33,45306.073563,ETH/USD,NaN
2020-12-11,558.90,560.35,535.10,544.24,65090.621847,ETH/USD,NaN
2020-12-12,544.38,574.00,543.07,568.09,47210.564479,ETH/USD,NaN
2020-12-13,567.94,595.00,563.45,590.35,59837.048679,ETH/USD,NaN
2020-12-14,590.25,591.65,576.06,586.27,39433.526399,ETH/USD,NaN
2020-12-15,586.28,596.90,576.72,589.41,43995.023566,ETH/USD,NaN
2020-12-16,589.41,639.10,581.50,638.28,88744.562334,ETH/USD,NaN
2020-12-17,638.01,676.61,628.05,643.43,154159.147080,ETH/USD,NaN
2020-12-18,644.01,664.02,630.00,654.67,68630.810599,ETH/USD,NaN
2020-12-19,654.58,669.00,645.60,658.83,65782.654837,ETH/USD,NaN
2020-12-20,658.57,660.60,622.00,638.28,86577.834597,ETH/USD,NaN
2020-12-21,638.00,648.00,597.00,608.01,108823.624181,ETH/USD,NaN
2020-12-22,608.00,637.47,587.84,637.46,58163.932100,ETH/USD,NaN
2020-12-23,637.46,638.34,550.00,585.50,96223.337452,ETH/USD,NaN
2020-12-24,585.03,615.14,565.90,612.49,58137.206542,ETH/USD,NaN
2020-12-25,612.31,633.33,603.92,626.83,49171.187761,ETH/USD,NaN
2020-12-26,626.77,651.99,615.50,635.95,76505.577587,ETH/USD,NaN
2020-12-27,636.33,715.09,623.68,683.03,189210.425336,ETH/USD,NaN
2020-12-28,683.49,746.71,680.39,729.12,178049.371134,ETH/USD,NaN
2020-12-29,729.12,738.97,686.76,731.84,131331.082847,ETH/USD,NaN
2020-12-30,731.84,758.00,716.23,752.50,129621.210754,ETH/USD,NaN