In [1]:
import rba_tools.retriver.get_crypto_data as gcd
import glob
import os
import pandas as pd
import numpy as np
from dateutil import parser,tz
from datetime import datetime, timedelta, timezone
from time import sleep
import rba_tools.utils as utils
import rba_tools.retriver.database as database

In [39]:
if os.path.exists(database.database_file):
    os.remove(database.database_file)

In [3]:
exchange = gcd.getBinanceExchange()
print(exchange)

Binance

In [40]:
first = gcd.get_DataFrame(['ETH/BTC'], exchange, '12/1/20', '12/3/20', timeframe='1d')
first

Query failed:
SELECT * FROM OHLCV_DATA
        WHERE Symbol in ('ETH/BTC')
        and TIMESTAMP >= 1606780800000
        and TIMESTAMP <= 1606953600000

Execution failed on sql 'SELECT * FROM OHLCV_DATA
        WHERE Symbol in ('ETH/BTC')
        and TIMESTAMP >= 1606780800000
        and TIMESTAMP <= 1606953600000
        ': no such table: OHLCV_DATA
Fetching ETH/BTC market data from Binance. call #1
lastCall = 1630960424381 fetching data...

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2020-12-01,0.031310,0.032223,0.030125,0.031189,463240.518,ETH/BTC,NaN
2020-12-02,0.031189,0.031621,0.030974,0.031091,239428.833,ETH/BTC,NaN
2020-12-03,0.031091,0.031826,0.030961,0.031709,310741.578,ETH/BTC,NaN

In [41]:
first.to_csv('daily_ETCBTC_12-1-20_to-12-3-20')

In [5]:
first = gcd.get_DataFrame(['ETH/BTC'], exchange, '12/1/20', '12/3/20', timeframe='4h')
first

Query failed:
SELECT * FROM OHLCV_DATA
        WHERE Symbol in ('ETH/BTC')
        and TIMESTAMP >= 1606780800000
        and TIMESTAMP <= 1606953600000

Execution failed on sql 'SELECT * FROM OHLCV_DATA
        WHERE Symbol in ('ETH/BTC')
        and TIMESTAMP >= 1606780800000
        and TIMESTAMP <= 1606953600000
        ': no such table: OHLCV_DATA
Fetching ETH/BTC market data from Binance. call #1
lastCall = 1630958804340 fetching data...

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2020-12-01 00:00:00,0.031310,0.031429,0.030899,0.031155,50362.862,ETH/BTC,NaN
2020-12-01 04:00:00,0.031156,0.031420,0.031068,0.031295,42238.369,ETH/BTC,NaN
2020-12-01 08:00:00,0.031301,0.032223,0.030952,0.031697,117904.410,ETH/BTC,NaN
2020-12-01 12:00:00,0.031699,0.031819,0.030125,0.031347,173344.749,ETH/BTC,NaN
2020-12-01 16:00:00,0.031347,0.031523,0.030973,0.031437,49840.826,ETH/BTC,NaN
2020-12-01 20:00:00,0.031437,0.031500,0.031145,0.031189,29549.302,ETH/BTC,NaN
2020-12-02 00:00:00,0.031189,0.031621,0.031070,0.031461,37485.648,ETH/BTC,NaN
2020-12-02 04:00:00,0.031462,0.031548,0.031263,0.031266,41910.299,ETH/BTC,NaN
2020-12-02 08:00:00,0.031262,0.031380,0.030974,0.031294,38006.006,ETH/BTC,NaN
2020-12-02 12:00:00,0.031295,0.031500,0.031007,0.031199,52026.563,ETH/BTC,NaN
2020-12-02 16:00:00,0.031199,0.031345,0.030979,0.031226,42631.431,ETH/BTC,NaN
2020-12-02 20:00:00,0.031228,0.031326,0.031091,0.031091,27368.886,ETH/BTC,NaN
2020-12-03 00:00:00,0.031091,0.031200,0.030962,0.031187,34397.772,ETH/BTC,NaN

In [32]:
csv_df = pd.read_csv(r'C:\Users\Avery\Documents\GitHub\rba_tools_project\rba_tools\test\ETH_BTC_4h_12-1-20_to_12-3-20.csv'
    ,index_col = 'Timestamp'
    ,parse_dates = True)
csv_df

,Open,High,Low,Close,Volume,Symbol,Is_Final_Row
Timestamp,,,,,,,
2020-12-01 00:00:00,0.031310,0.031429,0.030899,0.031155,50362.862,ETH/BTC,NaN
2020-12-01 04:00:00,0.031156,0.031420,0.031068,0.031295,42238.369,ETH/BTC,NaN
2020-12-01 08:00:00,0.031301,0.032223,0.030952,0.031697,117904.410,ETH/BTC,NaN
2020-12-01 12:00:00,0.031699,0.031819,0.030125,0.031347,173344.749,ETH/BTC,NaN
2020-12-01 16:00:00,0.031347,0.031523,0.030973,0.031437,49840.826,ETH/BTC,NaN
2020-12-01 20:00:00,0.031437,0.031500,0.031145,0.031189,29549.302,ETH/BTC,NaN
2020-12-02 00:00:00,0.031189,0.031621,0.031070,0.031461,37485.648,ETH/BTC,NaN
2020-12-02 04:00:00,0.031462,0.031548,0.031263,0.031266,41910.299,ETH/BTC,NaN
2020-12-02 08:00:00,0.031262,0.031380,0.030974,0.031294,38006.006,ETH/BTC,NaN
2020-12-02 12:00:00,0.031295,0.031500,0.031007,0.031199,52026.563,ETH/BTC,NaN
2020-12-02 16:00:00,0.031199,0.031345,0.030979,0.031226,42631.431,ETH/BTC,NaN
2020-12-02 20:00:00,0.031228,0.031326,0.031091,0.031091,27368.886,ETH/BTC,NaN
2020-12-03 00:00:00,0.031091,0.031200,0.030962,0.031187,34397.772,ETH/BTC,NaN

In [37]:
first.equals(csv_df)

True

In [16]:
max(pd.Series(df.index).diff().dropna())

NameError: name 'df' is not defined

In [13]:
utils.convert_timeframe_to_sec('60s')

60

In [9]:
first = gcd.get_DataFrame(['ETH/BTC'], exchange, '1/1/20', '12/24/20')
first

Need later data for ETH/BTC. Retreiving data from 2020-12-04 00:00:00.001000+00:00 (1607040000001) to 12/24/20 (1608768000000)
Fetching ETH/BTC market data from Binance. call #1
lastCall = 1630354282526 fetching data...

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
second = gcd.get_DataFrame(['SCRT/BTC'], exchange, '1/1/20', '12/24/20')
second

In [ ]:
first.equals(second)

In [ ]:
df = gcd.get_DataFrame(['BCH/BTC'], exchange, '9/1/20', '9/24/20')
df

In [ ]:
df.dtypes

In [ ]:
test = pd.to_datetime(['1/1/20','1/2/20'])
test

In [ ]:
datetime.utcnow()

In [ ]:
gcd.getUTCTimeStamp('1/6/2020')

In [ ]:
data = gcd.get_DataFrame(['VIB/BTC'],exchange, '1/1/20')
data

In [ ]:
connection = database.create_connection()
connection

In [ ]:
data = gcd.get_saved_data(['ETH/BTC'], connection)
data

In [ ]:
query = """SELECT * FROM OHLCV_DATA WHERE Symbol == 'VIB/BTC'"""
columns = ['Symbol','Timestamp','Open','High','Low','Close','Volume','Is_Final_Row']

In [ ]:
ticker = 'VIB/BTC'
from_date_str = '1/1/20'
to_date_str = '2/1/20'
from_condition = ''
to_condition = ''
if from_date_str:
    from_date = gcd.convert_datetime_to_UTC_Ms(gcd.get_UTC_datetime(from_date_str))
    from_condition = f'and TIMESTAMP >= {from_date}'
if to_date_str:
    to_date = gcd.convert_datetime_to_UTC_Ms(gcd.get_UTC_datetime(to_date_str))
    to_condition = f'and TIMESTAMP <= {to_date}'
mysql = f"""SELECT * FROM OHLCV_DATA 
    WHERE Symbol == '{ticker}'
    {from_condition}
    {to_condition}"""
print('query \n',mysql)
result = pd.read_sql_query(mysql, connection)
result

In [ ]:
mydf = pd.DataFrame(SQL_Query, columns=columns)
mydf

In [ ]:
SQL_Query.empty

In [ ]:
gcd.set_data_timestamp_index(SQL_Query).empty

In [ ]:
connection.close()

In [ ]:
result = pd.read_sql_query(query, connection)
result['Is_Final_Row'] = pd.to_numeric(result['Is_Final_Row'], errors='coerce')
result

In [ ]:
if test:
    print('yes')

In [ ]:
print(f'my string is |{test}|')